*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(113, 177, 255) 0%, rgb(113, 255, 187) 100%);
    background-attachment: fixed;
    width: 100%;
}


.image__container img{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-top: -10px;
    border-radius: 5px;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    margin-left: 140px;
    gap: 40px;
}

.image__container{
     width: 250px;
     border: 2px black solid;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
    
}


.image__container:hover{
    cursor: pointer;
    opacity: 0.9;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    letter-spacing: 3px;
    font-style: italic;
    color: rgb(0, 0, 0);
}
 hr{
     width: 50%;
     margin-left: 350px;
 }

h2{
    padding: 4px;
    border-radius: 10px;
    margin: 2px;
}

h2:hover{
    color:rgb(0, 81, 255);
    border: solid rgb(255, 255, 255)

}

@media screen and (max-width:800px){
     hr{
        margin-left: 150px;
        margin-top: 10px;
        
     }
}